
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>Error</th>
                            <th>Solution</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Error 1</td>
                          <td><a href="#">Solution 1</a></td>
                          <td>2023-11-15</td>
                      </tr>
                      <tr>
                          <td>Error 2</td>
                          <td><a href="#">Solution 2</a></td>
                          <td>2023-11-16</td>
                      </tr>
                      <tr>
                          <td>Error 3</td>
                          <td><a href="#">Solution 3</a></td>
                          <td>2023-11-17</td>
                      </tr>
                      <tr>
                          <td>Error 4</td>
                          <td><a href="#">Solution 4</a></td>
                          <td>2023-11-18</td>
                      </tr>
                      <tr>
                          <td>Error 5</td>
                          <td><a href="#">Solution 5</a></td>
                          <td>2023-11-19</td>
                      </tr>
                      <!-- Add more rows as needed -->
                  </tbody>
                </table>
            </div>
        </div>
    </div>
