.filament-color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; /* Align the circle vertically */
  margin-right: 10px;
  margin-left: 10px;
  background-color: red;
}
.widget-heading {
  border-top: 1px solid #000; /* Adjust the color and styles as needed */
  padding-top: 10px; /* Add some padding for spacing */
  margin-top: 10px; /* Adjust margin for spacing */
}
/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cadef5 !important;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Custom CSS for sidebar */
.sidebar .nav-link {
  color: black;
  font-size: 15px;
}

.sidebar .nav-link:hover {
  background-color: #2a4b8d; /* Change color on hover */
}
.main {
  margin-left: 16%; /* Same as the width of the sidenav */
}

.top-nav{
  background-color:  #cadef5 !important;
}

.customTooltip * {
  color: #4a4a4a;
  font-size: 18px
}

.customTooltip .introjs-tooltip-title {
  color: #0a41c9;
}

.skip-button {
  background-color: #f00; /* Red background */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.skip-button:hover {
  background-color: #d00; /* Darker red on hover */
}

.upload-section {
  border: 2px dashed #007BFF;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.upload-instructions {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.or-text {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

.btn-browse {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-browse:hover {
  background-color: #0056b3;
}

.uploaded-file-info {
  margin-top: 20px;
}

.custom-tooltip-trigger {
  cursor: pointer;
  width: 100% ;
}

.custom-tooltip-trigger::after {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  top: 80%; /* Position the tooltip above the trigger */
  right: 40%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.custom-tooltip-trigger:hover::after {
  display: block;
}

.btn-toggle {
  padding: 10px 20px;
  border: 2px solid #ff0000;
  background-color: rgb(240, 214, 214);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-toggle.active {
  background-color: #ff0000;
  color: #fff;
}
.notification-count {
  background-color: #e74c3c; /* Notification count background color */
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px; /* Adjust the margin as needed */
}

/* home.component.css */

.collapsible-section {
  margin-left: 16%;
  margin-top:2%;
  margin-top: 0px !important;
  background-color: #4682B4 !important;
  border: 1px solid #dee2e6;
  padding: 15px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 50px; /* Initial max-height, adjust as needed */
}

.collapsible-section.show {
  flex-shrink: 1 !important;
  max-height: 1000px; /* Adjust this value based on your content */
}



/* Add this to your component's styles or a global styles file */

/* Add this to your component's styles or a global styles file */



.form-switch .form-check-label:before {
  width: 80px; /* Adjust the width for a larger switch */
  height: 40px; /* Adjust the height for a larger switch */
  background-color: #6c757d; /* Default background color */
  border-radius: 20px; /* Adjust the border-radius for a rounded appearance */
  transition: 0.3s;
}

.form-switch .form-check-input:checked + .form-check-label:before {
  width: 80px; /* Adjust the width for a larger switch */
  background-color: #007bff; /* Color when switched on */
}

.form-switch .form-check-label .form-check-input {
  position: absolute;
  left: 0;
  width: 80px; /* Adjust the width for a larger switch */
  height: 40px; /* Adjust the height for a larger switch */
}

/* notification.component.css */
.notification-effect {
  /* Add your styles for the notification effect */
  color: red; /* Change the text color to red as an example */
  font-weight: bold; /* Make the text bold */
  animation: tilt-shaking 0.5s ease-in-out infinite !important; /* Apply the shake animation */
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

